ABCLoan/Data/BankLocationsSchema.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="BankLocations">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BankLocation" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="BankID"/>
							<xs:element type="xs:string" name="Title"/>
							<xs:element type="xs:string" name="Address"/>
							<xs:element type="xs:string" name="CurrentStatus"/>
							<xs:element type="xs:string" name="HoursOfOperation"/>
							<xs:element type="xs:string" name="ATMStatus"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>